<ul class="list-unstyled">

    {{ with .Site.Params.phone }}
    <li>
        <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
        {{ if and (isset $.Site.Params.contact "autolink") (eq $.Site.Params.contact.autolink false) }}
        <span>{{ . }}</span>
        {{ else }}
        <span><a href="tel:{{ . }}">{{ . }}</a></span>
        {{ end }}
    </li>
    {{ end }}

    {{ with .Site.Params.email }}
    <li>
        <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
        {{ if and (isset $.Site.Params.contact "autolink") (eq $.Site.Params.contact.autolink false) }}
        <span>{{ . }}</span>
        {{ else }}
        <span><a href="mailto:{{ . }}">{{ . }}</a></span>
        {{ end }}
    </li>
    {{ end }}

    {{ with .Site.Params.resume }}
    <li>
        <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i>
        <span><a href="{{ . }}">resume</a></span>
    </li>
    {{ end }}

    {{ with .Site.Params.address }}
    <li>
        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
        <span>{{ . }}</span>
    </li>
    {{ end }}

</ul>
